{% extends 'base.html.twig' %}

{% block title %}Liste des Bacons{% endblock %}

{% block body %}
<main class="page-container content">
    <h2>Liste des Bacons</h2>

    {% if bacons|length > 0 %}
        <div class="cards-container">
            {% for bacon in bacons %}
                <div class="card">
                    <div class="card-info">
                        <h3>{{ bacon.name }}</h3>
                        <p>ID : {{ bacon.id }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucun bacon trouvé.</p>
    {% endif %}
</main>
{% endblock %}
