{% extends 'base.html.twig' %}

{% block title %}Liste des Poulets{% endblock %}

{% block body %}
<main class="page-container content">
    <h2>Liste des Poulets</h2>

    {% if poulets|length > 0 %}
        <div class="cards-container">
            {% for poulet in poulets %}
                <div class="card">
                    <div class="card-info">
                        <h3>{{ poulet.name }}</h3>
                        <p>ID : {{ poulet.id }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucun poulet trouvé.</p>
    {% endif %}
</main>
{% endblock %}
