{% extends 'base.html.twig' %}

{% block title %}Liste des Cornichons{% endblock %}

{% block body %}
<main class="page-container content">
    <h2>Liste des Cornichons</h2>

    {% if cornichons|length > 0 %}
        <div class="cards-container">
            {% for cornichon in cornichons %}
                <div class="card">
                    <div class="card-info">
                        <h3>{{ cornichon.name }}</h3>
                        <p>ID : {{ cornichon.id }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucun cornichon trouvé.</p>
    {% endif %}
</main>
{% endblock %}
