<header>
    <h1>CRUDcroustillant</h1>
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('burgers_list') }}">Nos Burgers</a></li>
        </ul>
    </nav>
</header>