<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CRUDcroustillant{% endblock %}</title>
    </head>
    <body>
        <nav>
            <a href="{{ path('home') }}">Accueil</a> |
            <a href="{{ path('burgers_list') }}">Nos Burgers</a>
        </nav>

        <hr>

        {% block body %}{% endblock %}
    </body>
</html>

