<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="page-container">
            {% include '_header.html.twig' %}

            <main class="content">
                {% block body %}{% endblock %}
            </main>

            {% include '_footer.html.twig' %}
        </div>
    </body>
</html>
