{% extends 'base.html.twig' %}

{% block title %}Liste des Burgers - CRUDcroustillant{% endblock %}

{% block body %}
    <h1>Liste des burgers</h1>
    <p>Ici, nous afficherons bientôt nos burgers.</p>
{% endblock %}