{% extends 'base.html.twig' %}

{% block title %}Liste des Burgers - CRUDcroustillant{% endblock %}

{% block body %}
    <h1>Liste des burgers</h1>
    <ul>
        {% for id, burger in burgers %}
            <li>
                <a href="{{ path('burger_show', {id: id}) }}">
                    {{ burger.nom }} - {{ burger.prix }} €
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}