{% extends 'base.html.twig' %}

{% block title %}Accueil - CRUDcroustillant{% endblock %}

{% block body %}
    <main class="home">
        <h2>Bienvenue sur CRUDcroustillant !</h2>
        <p>Découvrez nos délicieux burgers.</p>
        <img src="{{ asset('images/burger.png') }}" alt="Burger" width="200">
    </main>
{% endblock %}
