{% extends 'base.html.twig' %}

{% block title %}Liste des Pains{% endblock %}

{% block body %}
<main class="page-container content">
    <h2>Liste des Pains</h2>

    {% if pains|length > 0 %}
        <div class="cards-container">
            {% for pain in pains %}
                <div class="card">
                    <div class="card-info">
                        <h3>{{ pain.name }}</h3>
                        <p>ID : {{ pain.id }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucun pain trouvé.</p>
    {% endif %}
</main>
{% endblock %}
