{% extends 'base.html.twig' %}

{% block title %}Liste des Oeufs{% endblock %}

{% block body %}
<main class="page-container content">
    <h2>Liste des Oeufs</h2>

    {% if oeufs|length > 0 %}
        <div class="cards-container">
            {% for oeuf in oeufs %}
                <div class="card">
                    <div class="card-info">
                        <h3>{{ oeuf.name }}</h3>
                        <p>ID : {{ oeuf.id }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucun oeuf trouvé.</p>
    {% endif %}
</main>
{% endblock %}
