{% extends 'base.html.twig' %}

{% block title %}Liste des Garnitures{% endblock %}

{% block body %}
<main class="page-container content">
    <h2>Liste des Garnitures</h2>

    {% if garnitures|length > 0 %}
        <div class="cards-container">
            {% for garniture in garnitures %}
                <div class="card">
                    <div class="card-info">
                        <h3>{{ garniture.name }}</h3>
                        <p>ID : {{ garniture.id }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucune garniture trouvée.</p>
    {% endif %}
</main>
{% endblock %}
